

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven generated directories
target/

# mac dust
.DS_Store/

# Eclipse trash
.project
.classpath
# ---- Well we are using maven anyway...

# IntelliJ IDEA Trash is still being uploaded?????
.idea/
*.iml

# Don't you dare upload any ANT xmls!
build.xml

# Eclipse is taking over your life!
.settings/

# NetBeans
nbproject/

